$primary: #B600EE;
$secondary: #F93232;
$accent: #9206E9;

$dark: #20272C;

$positive: #21BA45;
$negative: #C10015;
$info: #31CCEC;
$warning: #F2C037;

$gray1: #E0E6EA;
$gray2: #BBC4CE;
$gray3: #75818C;
$gray4: #424E59;
$gray5: #B7B7B7;

$white: #FFFFFF;
$white2: #F6F6F6;
